* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  height: 100vh;
  width: 1440px;
}

.hero-image {
  background-image: url(./HeroImage.png);
  background-size: cover;
  background-position: center;
}

.header {
  padding: 30px 0;
  margin: 0 auto;
  width: 1064px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.flex-end {
  justify-content: flex-end;
}

.gap {
  gap: 24px;
}

.gap1 {
  gap: 40px;
}

.gap2 {
  gap: 12px;
}

.lang {
  background: #ffffff;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  font-size: 14px;
}

.font-color {
  color: white;
  font-family: "Inter", sans-serif;
}

.font-weight {
  font-weight: bold;
}

.header-text {
  height: 22px;
  width: 100px;
}

.user-wh {
  width: 20px;
  height: 20px;
}

.font-bebas {
  font-family: "Bebas Neue", sans-serif;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-container {
  width: 618px;
  margin: 69px auto;
}

.pure-magic {
  color: #e8edf2b8;
  font-size: 80px;
  font-weight: 400;
}

.awaits {
  color: #fdfdfefa;
  font-size: 250px;
  font-weight: 400;
}

.text3 {
  color: #ffffffcc;
  font-size: 64px;
  font-weight: 900;
  font-family: "Hanuman", sans-serif;
}

.location-image {
  height: 500px;
  padding: 65px 109.02px;
  background-image: url(./Location\ image.png);
}

.card {
  width: 275.49px;
  height: 370px;
  border-radius: 40px;
  box-shadow: 8px 8px 0px 0px #29728b40, -8px -8px 0px 0px #1f72aa75;
  background-size: cover;
  background-position: center;
}

.card-text {
  width: 252px;
  height: 370px;
  color: #fdfdfecc;
  font-size: 37px;
  font-weight: 400;
}

.overlay {
  height: 100%;
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 40px;
}

.card-img1 {
  background-image: url(./1.png);
}

.card-img2 {
  background-image: url(./2.png);
}

.card-img3 {
  background-image: url(./3.png);
}

.card-img4 {
  background-image: url(./4.png);
}

.road-map {
  height: 902px;
  width: 1440px;
  background-image: url(./Roadmap\ image.png);
  background-size: cover;
}

.rm-header {
  padding: 120px 0 0 0;
  gap: 10px;
}

.rm-items {
  width: 513px;
  height: 112px;
  padding: 30px;
  border-radius: 120px;
}

.gap-s2b {
  gap: 4px;
}

.s2b-text {
  font-size: 24px;
  font-weight: 500;
}

.s2b-icon {
  width: 14px;
  height: 14px;
}

.s2b-text1 {
  font-size: 12px;
}

.items-color1 {
  background-color: #eee9d9;
}

.items-color2 {
  background-color: #8bb8c1cc;
}

.items-color3 {
  background-color: #aad8d7cc;
}

.items-color4 {
  background-color: #8bc0bdcc;
}

.items-color5 {
  background-color: #97cce0cc;
}

.section3b-gap {
  gap: 20px;
}

.day {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background-color: #f7f6f3;
  font-family: "Overpass", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.section3-border {
  height: 640px;
  width: 1200px;
  margin: 59px 120px 0;
  position: relative;
}

.map-pin {
  width: 34px;
  height: 34px;
}

.map-pinc {
  width: 647px;
  height: 640px;
  position: relative;
}

.map-pin1 {
  position: absolute;
  top: 42px;
  left: 279px;
}

.map-pin2 {
  position: absolute;
  top: 164px;
  left: 107px;
}

.map-pin3 {
  position: absolute;
  top: 181px;
  left: 492px;
}

.map-pin4 {
  position: absolute;
  top: 416px;
  left: 279px;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.tap {
  height: 120px;
  width: 1440px;
  background-image: url(./Location\ image.png);
}

.footer {
  height: 1120px;
  background-image: url(./Price&Footer\ image.png);
  background-position: center;
  background-size: cover;
}

.footer-head {
  padding: 40px 0 0 0;
  gap: 10px;
}

.total-card {
  margin: 79px 121px 0 119px;
}

.package-card {
  width: 384px;
  height: 527px;
  background-color: #fafbfc;
  border-radius: 40px;
}

.hearth-icon {
  width: 36px;
  height: 36px;
  border-radius: 100%;
}

.gap3 {
  gap: 16px;
  padding: 32px 0 24px 24px;
  font-size: 18px;
  color: var(--Text-TextPrimary, #121316);
}

.gap4 {
  width: 336px;
  height: 86px;
  gap: 10px;
  margin: 12px 24px 0 24px;
}

.gap5 {
  width: 336px;
  height: 180px;
  justify-content: flex-start;
  gap: 16px;
  margin: 32px 24px 0 24px;
}

.gap6 {
  gap: 20px;
  font-size: 14px;
  font-weight: 500;
  color: var(--Text-TextSecondary, #3f4145);
}

.includes {
  padding: 0 40px;
  font-size: 18px;
  font-weight: 500px;
  color: var(--Text-TextPrimary, #121316);
}

.select-package {
  height: 48px;
  width: 336px;
  background-color: #a4d1e2;
  border-radius: 40px;
  margin: 37px 24px 0;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

.head-font1 {
  font-size: 42px;
  font-weight: 600;
}

.head-font2 {
  font-size: 20px;
  color: #18181bb2;
  font-weight: 500;
}

.number-font {
  font-size: 40px;
  font-weight: 600;
  color: #303030;
}

.cover-font {
  font-size: 16px;
  font-weight: 500;
  color: #919191;
}

.popular {
  font-size: 16px;
  font-weight: 500;
  background-color: #6972b5;
  border-radius: 40px;
  color: #fafbfc;
  padding: 4px 16px;
  font-family: "Inter", sans-serif;
}

.footer-icon {
  font-size: 18px;
  font-weight: 700;
}

.icon-border {
  width: 167px;
  height: 44px;
  background-color: #fafbfc;
  border-radius: 40px;
  gap: 10px;
  color: #6972b5;
}

.footer-end-logo {
  width: 101px;
  height: 35px;
}

.footer-end-padding {
  height: 44px;
  width: 1440px;
  padding: 265px 120px 80px;
}

.picture {
  width: 245px;
  height: 245px;
}

.sukhbaatar {
  display: none;
}

.SBP:hover + .sukhbaatar {
  display: block;
  position: absolute;
  top: 74px;
  left: 924px;
}

.border:hover {
  border: white solid 4px;
}

.SBP1:hover + .sukhbaatar {
  display: block;
  position: absolute;
  top: -38px;
  left: 726px;
}

.SBP2:hover + .sukhbaatar {
  display: block;
  position: absolute;
  top: 88px;
  left: 590px;
}

.SBP3:hover + .sukhbaatar {
  display: block;
  position: absolute;
  top: -85px;
  left: 553px;
}

.SBP4:hover + .sukhbaatar {
  display: block;
  position: absolute;
  top: -70px;
  left: 711px;
}

.package-card:hover {
  box-shadow: 8px 8px 0px 0px #29728b40, -8px -8px 0px 0px #2e414766;
}

.select-package:hover {
  background-color: var(--background-bg-primary-90, #18181be5);
  color: var(--text-text-primary-foreground, #fafafa);
}
/*  */
